/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #000;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

.site .title a {
  color: #00529B;
  text-decoration: none;
}

.title a.active {
	color: #0000;
	text-decoration: none;
	margin-left: 1em;
  
}
.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

.site .footer {
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

.site .footer .contact {
	float: left;
	margin-right: 3em;
}

.social {
	float: right;
	margin-right: 3em;
}

.site .footer .contact .social a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

/* standard */

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

/* notification */
.error, .success, .info{
	border: 1px solid;
	width: 600px;
	margin: 5px;
	padding: 0px 0px 0px 1px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.error .success .info h1 {
	text-align:center;
}
.error .success .info p {
	text-align:center;
}
.info{
	color: #00529B;
	background-color: #BDE5F8;
}
.error{
	color: #d8000c;
	background-color: #ffbaba;
}
.success{
	color: #4f8a10;
	background-color: #DFF2BF;
}

form {
	margin:0;
	padding:0;
}
fieldset{
	border:0px;
}
#postform {
	margin:0 auto;
	position:relative;
}
#postform label {
	display: block;
}
#commentform {
	margin:0 auto;
	position:relative;
}
#commentform label {
	display: block;
}
label.sp { width: 3px; }
span.error{ color:red; text-align:left; font-size:11px;}
#postform input{
	background-color:#fbfbfb;
	border:solid 1px #e0e0e0;
	margin-bottom:8px;
	margin-right:20px;
	width:178px;
	padding:8px 8px;
}
#postform textarea{
	background-color:#fbfbfb;
	border:solid 1px #e0e0e0;
	margin-bottom:10px;
	width:378px;
	padding:8px 5px;
}
#postform .button{
	background-repeat:repeat-x;
	background-color:#fe872a;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	border-radius: 4px; /* CSS3 */
	text-align:center;
	padding:10px 10px;
	font-size:12px !important;
	color:#fff !important;
	border:0px;
	cursor:pointer;
	width:auto !important;
	margin:10px 5px 0 0;
}
#postform .button:hover { color:#fff; text-decoration:none; background-color:#ef9651}
#commentform input{
	background-color:#fbfbfb;
	border:solid 1px #e0e0e0;
	margin-bottom:8px;
	margin-right:20px;
	width:178px;
	padding:8px 8px;
}
#commentform textarea{
	background-color:#fbfbfb;
	border:solid 1px #e0e0e0;
	margin-bottom:10px;
	width:378px;
	padding:8px 5px;
}
#commentform .button{
	background-repeat:repeat-x;
	background-color:#fe872a;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	border-radius: 4px; /* CSS3 */
	text-align:center;
	padding:10px 10px;
	font-size:12px !important;
	color:#fff !important;
	border:0px;
	cursor:pointer;
	width:auto !important;
	margin:10px 5px 0 0;
}
#commentform .button:hover { color:#fff; text-decoration:none; background-color:#ef9651}

div#twitter_div { margin: 20px auto; width: 90%; font-size: 10pt; }
#textile{
	display:block;
	width=600px;
	font-size:10px;
	overflow: auto;
}
#note{
	display:inline;
	float:left;
	padding:5px;
}

#clear{
	clear:both;
}

/************************************************************
****	Comments
************************************************************/


